anyio==3.5.0
certifi==2020.12.5
click==7.1.2
cryptography==36.0.1
cycler==0.10.0
defusedxml==0.7.1
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
MarkupSafe==1.1.1
matplotlib==3.5.0
matplotlib-inline==0.1.2
mlxtend==0.19.0
munkres==1.1.4
nest-asyncio==1.5.1
nltk==3.7
numexpr==2.8.1
numpy==1.20.2
olefile==0.46
openpyxl==3.0.9
packaging==21.3
pandas==1.2.4
regex==2022.3.15
requests==2.27.1
retrolab==0.3.16
scikit-learn==0.24.1
scipy==1.6.2
Werkzeug==1.0.1
WTForms==2.3.3
zipp==3.7.0
